name: Say Hello

on:
    push:
        branches:
            - develop
            - release
            - main

jobs:
    hello_world:
        runs-on: ubuntu-22.04
        steps:
            - name: Echo the message
              run: echo "Hello world"
            - name: Tell me the time
              run: date
            - run: ls -l
